.footer {
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}
.container {
  padding-top: 60px;
}
.logo img {
  width: 160px;
}
.footer h3 {
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.pageUp {
  position: absolute;
  left: 50%;
  top: -22px;
}
.pageUp a {
  display: inline-block;
  font-size: 3rem;
  height: 50px;
  width: 50px;
  background: red;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-weight: 600;
}
.pageUp span {
  font-size: 35px;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 5px;
}
li a {
  text-decoration: none;
  color: #666;
}
li a:hover {
  color: yellow;
}
.actor {
  color: rgb(224, 116, 65);
}
@media (max-width: 992px) {
  .logo img {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .logo img {
    width: 90px;
  }
  .footer a {
    font-size: 14px;
  }
}
