@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1a1a1a;
}

ul {
  padding-left: 0;
  margin-bottom: 0%;
}
input {
  line-height: 0;
}
.col-2-5 {
  flex: 0 0 20%;
  max-width: 20%;
}
.slick-slide {
  padding: 0 5px;
}
.slick-slide img {
  height: 315px !important;
}
.customContainer {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  flex-direction: column;
}
@media (max-width: 992px) {
  .container {
    max-width: 1020px;
    padding: 0 25px;
  }
}
